@keyframes enhancedFadeIn {
    0% { opacity: 0; transform: scale(0.95) rotate(-5deg); }
    50% { opacity: 0.7; transform: scale(1.08); }
    100% { opacity: 1; transform: scale(1) rotate(0deg); }
}

@media (max-width: 758px) {
    header, nav {
        padding: 10px 10px 10px 10px; 
    }

    nav ul {
        display: none; 
        flex-direction: column;
        justify-content: center; 
        align-items: center;
        background-color: rgba(0, 0, 0, 0.9);
        position: fixed; 
        top: 0; 
        left: 0;
        height: 100vh;
        width: 100%; 
        z-index: 10;
    }

    nav ul.show {
        display: flex; 
    }

    nav ul li {
        display: block;
        padding: 10px 5px;
        width: 100%;
        text-align: center;
        box-sizing: border-box; 
    }

    .menu-button {
        padding: 20px;
        display: block;
        background-color: transparent;
        border: none;
        color: white;
        font-size: 40px;
        position: fixed;
        top: 0px;
        right: 10px;
        cursor: pointer;
        z-index: 11;
    }

    #backgroundVideo {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        z-index: -1;
        animation: enhancedFadeIn 2.5s ease-in-out forwards;
    }

    .productmanager {
        width: auto;
        height: 110px;
        margin-bottom: 100px; /* Added margin to ensure 100px spacing */
    }

    #barchart {
        flex: 2;  
        justify-content: center; 
        align-items: center; 
        margin: 20px; 
        background-color: #f4f4f465; 
        box-shadow: 0 4px 8px rgba(255, 255, 255, 0.187); 
        border-radius: 5px;
        max-width: 200px;
        max-height: 200px;
    }

    .container {
        display: flex;              
        flex-direction: column;    /* Stacks children vertically */
        align-items: center;   /* Aligns children to the left */
        justify-content: center;   
        height: 100vh; 
        padding-top: 10px;
    }

}

@media (max-width: 480px) {
    header, nav {
        padding: 10px;
    }

    nav ul li {
        font-size: 12px;
        padding: 10px 5px;
    }
}

img, .image-placeholder {
    max-width: 100%;
    height: auto;
}

main, header, nav {
    width: 100%;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;  
}

body {
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: rgb(18, 13, 13);
}

#backgroundVideo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    animation: enhancedFadeIn 2.5s ease-in-out forwards;
}

header, nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    z-index: 10;
    padding: 0; 
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
}

nav ul li {
    display: inline-block;
    padding: 20px 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 13px;
    border-radius: 5px;
    border: 2px solid transparent;
    padding: 5px 10px;
    margin-right: 50px;
}

nav ul li a:hover {
    border-color: #ffffff;
}

.container {
    display: flex;              
    flex-direction: column;    /* Stacks children vertically */
    align-items: center;   /* Aligns children to the left */
    justify-content: center;   
    height: 100vh; 
}

.container h1 {
    color: white;
    margin-bottom: 20px; 
    font-weight: lighter;
    font-size: 25px;
    text-align: center;
    padding-top: 60px;
}

.container h2 {
    color: white;
    margin-bottom: 20px; 
    font-weight: lighter;
    font-size: 25px;
    text-align: left;
}

.container p {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;

}

.content {  
    display: flex;
    flex-direction: column; /* Stacks children vertically */
    justify-content: center;
    align-items: center; 
    padding: 10px;
    background: rgba(255, 255, 255, 0);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0); /* Adjusted box-shadow to be smaller */
    margin-top: -150px;
}

.text-container {
    animation: enhancedFadeIn 2.5s ease-in-out forwards;
    width: 100%;
    padding: 25px; 
}

.text-container h2 {
    font-size: 20px;
    text-align: left;
}

.text-container p {
    padding: 20px;
    text-align: left; 
    color: #ffffff; 
    font-size: 12px; 
    line-height: 1.5; 
    margin-bottom: 10px;
}

.image-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px; /* Adds spacing between images */
}

.image-container img {
    width: auto;
    max-width: 100%;
    height: auto;
    border-radius: 50px;
}

.chart-container {
    display: flex;
    flex-direction: column; /* Stacks children vertically */
    justify-content: center; /* Aligns children to the left */
    align-items: center;
    width: 90%;  /* Setzt die Breite auf 80% der übergeordneten Container-Breite */
    height: 90%; /* Setzt die Höhe auf 80% der übergeordneten Container-Höhe */
    margin-top: 20px; /* Adds spacing between elements */
}

.chart-description {
    justify-content: flex-start;
    flex: 1; 
    padding-bottom: 120px; /* Gibt etwas Innenabstand */
    color: white; 
    font-size: 15px; 
    font-family: sans-serif;
    text-align: left;
}

#barchart {
    justify-content: center;
    flex: 2;  
    align-items: center; 
    margin-top: 20px; 
    background-color: #f4f4f465; 
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.187); 
    border-radius: 5px;
    max-width: 400px;
    max-height: 300px;
}

.productmanager {
    height: 200px;
    width: 300px;
    flex-direction: column; 
    padding-top: 200px;
}
