@keyframes enhancedFadeIn {
    0% { opacity: 0; transform: scale(0.95) rotate(-5deg); }
    50% { opacity: 0.7; transform: scale(1.02); }
    100% { opacity: 1; transform: scale(1) rotate(0deg); }
}

/* Media Queries for Responsive Adjustments */
@media (max-width: 758px) {
    header, nav {
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgb(0, 0, 0); /* Leicht transparenter schwarzer Hintergrund */
        z-index: 10;
        padding: 0; /* Entfernung jeglichen inneren Abstandes */
        margin: 0; /* Stellt sicher, dass keine äußeren Abstände angewendet werden */
    }

    nav ul {
        display: none; 
        flex-direction: column;
        justify-content: center; 
        align-items: center;
        background-color: rgba(0, 0, 0, 0.9);
        position: fixed; 
        top: 0; 
        left: 0;
        height: 100vh;
        width: 100%; 
        z-index: 10;
        padding: 0;
        margin: 0;
    }

    nav ul.show {
        display: flex;
    }

    nav ul li {
        display: block;
        padding: 10px 5px;
        width: 100%;
        text-align: center;
        box-sizing: border-box;
    }

    .menu-button {
        padding: 20px;
        display: block;
        background-color: transparent;
        border: none;
        color: white;
        font-size: 40px;
        position: fixed;
        top: 0px;
        right: 10px;
        cursor: pointer;
        z-index: 11;
    }
}

@media (max-width: 480px) {
    header, nav {
        padding: 0px;
    }

    nav ul li {
        font-size: 12px;
        padding: 8px 5px;
    }
}


html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;  
}
body {
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: rgb(18, 13, 13);
}

#backgroundVideo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    animation: enhancedFadeIn 2.5s ease-in-out forwards;
}

header, nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    z-index: 10;
    padding: 0px;
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
}

nav ul li {
    display: inline-block;
    padding: 20px 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 13px;
    border-radius: 5px;
    border: 2px solid transparent;
    padding: 5px 10px;
    margin-right: 50px;

}

nav ul li a:hover {
    border-color: #ffffff;
}

main {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1; 
    min-height: calc(100vh - 60px);
}

.hero {
    text-align: center;
    margin: 20px 0;
}

.hero h1 {
    font-size: 25px;
    margin-top: 40px;
    font-weight: lighter;
}

.hero p {
    font-size: 18px;
    max-width: 600px;
}

.Briefcase {
    width: 25px;
    height: 25px;
}

.portfolio {
    text-align: center;
    margin: 10px 0;
    padding-bottom: 20px;
}

.projects {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.project {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 15px;
    border-radius: 10px;
    width: 250px;
    border: 1px solid rgb(255, 255, 255);
    animation: enhancedFadeIn 2.5s ease-in-out forwards;
}

.project h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.project p {
    font-size: 14px;
}


.content {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 20px;
    background: rgba(255, 255, 255, 0);
    border-radius: 10px;
    box-shadow: 0 10px 18px rgba(255, 255, 255, 0.3);

}

.text-container {
    animation: enhancedFadeIn 2.5s ease-in-out forwards;
    width: 200%;
    padding: 25px; 
}

.text-container h2 {
    font-size: 20px;
    text-align: left;
}

.text-container p {
    padding: 20px;
    text-align: left; 
    color: #ffffff; 
    font-size: 12px; 
    line-height: 1.5; 
    margin-bottom: 10px;

}
